<?xml version="1.0"?>
<config>
  <mysql>
    <hostname>127.0.0.1</hostname>
    <port>3306</port>
    <username>acore</username>
    <password>acore</password>
    <database>
      <auth>acore_auth</auth>
      <characters>acore_characters</characters>
      <world>acore_world</world>
    </database>
  </mysql>
  <core>
    <directory>/opt/azerothcore</directory>
  </core>
  <world>
    <name>AzerothCore</name>
    <motd>Welcome to AzerothCore!</motd>
    <id>1</id>
    <ip>127.0.0.1</ip>
    <game_type>1</game_type>
    <realm_zone>8</realm_zone>
    <player_limit>1000</player_limit>
    <skip_cinematics>0</skip_cinematics>
    <start_level>1</start_level>
    <start_money>0</start_money>
    <always_max_skill>0</always_max_skill>
    <all_flight_paths>0</all_flight_paths>
    <maps_explored>0</maps_explored>
    <allow_commands>0</allow_commands>
    <quest_ignore_raid>0</quest_ignore_raid>
    <prevent_afk_logout>0</prevent_afk_logout>
    <raf_max_level>60</raf_max_level>
    <allow_lfg_lootmode>false</allow_lfg_lootmode>
    <rates>
      <experience>1</experience>
      <rested_exp>1</rested_exp>
      <reputation>1</reputation>
      <money>1</money>
      <crafting>1</crafting>
      <gathering>1</gathering>
      <weapon_skill>1</weapon_skill>
      <defense_skill>1</defense_skill>
    </rates>
    <gm>
      <login_state>1</login_state>
      <visible>0</visible>
      <chat>0</chat>
      <whisper>0</whisper>
      <gm_list>0</gm_list>
      <who_list>0</who_list>
      <allow_friend>0</allow_friend>
      <allow_invite>0</allow_invite>
      <lower_security>0</lower_security>
    </gm>
  </world>
  <module>
    <ahbot>
      <enabled>false</enabled>
      <enable_seller>0</enable_seller>
      <enable_buyer>0</enable_buyer>
      <account_id>1</account_id>
      <character_guid>1</character_guid>
      <min_items>250</min_items>
      <max_items>250</max_items>
    </ahbot>
    <skip_dk_area>
      <enabled>false</enabled>
    </skip_dk_area>  
    <kickstarter>
      <enabled>false</enabled>
      <functions>
        <equipment>1</equipment>
        <gems>1</gems>
        <glyphs>1</glyphs>
        <spells>1</spells>
        <proficiency>
          <enabled>1</enabled>
          <max_skill>1</max_skill>
        </proficiency>
        <mounts>1</mounts>
        <utilities>
          <enabled>1</enabled>
          <name_change>1</name_change>
          <race_change>1</race_change>
          <faction_change>1</faction_change>
          <appearance_change>1</appearance_change>
        </utilities>
      </functions>
    </kickstarter>
  </module>
</config>
